section {
    padding: 20px;
}

#home {
    color: black;
    text-align: center;
}

#home h1 {
    color: black;
    font-size: 40px;
    text-align: center;
}

#home p {
    color: black;
    font-size: 20px;
    text-align: center;
}

.textPortal{
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
}

.textresum {
    color: #000;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

/* Estilo rolamento das imagens */
#image-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    width: 100%;
    /* Ajuste a largura conforme necessário */
}

.slides {
    display: flex;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 400px;
    border-radius: 20px;
    /* Define a altura máxima da imagem */
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover,
button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}